

{% extends 'movies/base.html' %}
{% load static %}
{% load private %}
{% load url_add_query %}


{% block content %}

    <div class="player">
        <div class="player_title">
            <a class="player_title" href="" target="_blank"> <strong>""</strong></a>
        </div>

        <div id="player">

        </div>
        <div class="download">
            <button class="download" type="submit" value="{% url 'download' %}" onClick="" >Download</button>
        </div>

    </div>
    <!-- <div>
         <script src="{% static 'movies/js/outerplayer.js' %}" url="http://video.fc2.com/en/a/content/20160914FzLVA5Ln/" tk="T0RNd09EQXpOVE09" tl="妹妹第一次看A書 忽然慾火難耐.." sj="81000" d="3653" w="640" h="392"  charset="UTF-8"></script>
    </div> -->

    <nav style="text-align:center">
        <ul class="pagination" style="margin-bottom:5px ">
            <li>
                {% if movies.has_previous %}
                    <a href="{% url_add_query url page=1 %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for i in "xxxxx" %}
                {% if movies.number|add:forloop.counter0 < movies.paginator.num_pages %}
                    <li><a href="{% url_add_query url page=movies.number|add:forloop.counter0 %}">
                        {{ movies.number|add:forloop.counter0 }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if movies.has_next %}
                    <a href="{% url_add_query url page=movies.paginator.num_pages %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>


    <div class="row">
        {% for movie in movies %}

            {% if forloop.counter == 21%}
                <div class="affi">
                    <a href="http://ad.886644.com/member/link.php?i=50f667c6dd777&m=581d9e1bab9b5&guid=ON"><img src="http://ad.886644.com/member/data.php?i=50f667c6dd777&m=581d9e1bab9b5" width="600" height="100" alt="" border="0" /></a>
                </div>
            {% endif %}
            {% if forloop.counter == 41%}
                <div class="affi">
                    <a href="http://ad.886644.com/member/link.php?i=5164c84e9d047&m=581d9e1bab9b5&guid=ON"><img src="http://ad.886644.com/member/data.php?i=5164c84e9d047&m=581d9e1bab9b5" width="468" height="60" alt="" border="0" /></a>
                </div>
            {% endif %}


            <div id="{{ movie.id }}" class="col-sm-3 movie" style="position:relative; height:235px">

                <strong><a href="{% url 'download' %}?target={{ movie.id }}">{{ forloop.counter }}</a></strong>

                <div class="video_thumb_small clsThumbToAlbum" url="{{ movie.url }}" upid="{{ movie.id }}"
                     data-up-id="{{ movie.id }}" data-duration="{{ movie.play_time_sec }}" alt="{{ movie.title }}" sj="{{ movie.sj }}" style="position:relative;">
                    <a href="{{ movie.url }}" target="_blank" class="scrub">
                        <img width="100%" height="100%" border="0" class="movie_thumbnail" src="{{ movie.thumbnail }}" alt="{{ movie.title }}"/>
                        <!--<input width="100%" height="100%" src="{{movie.thumbnail}}" class="submit" type="image" onClick="location.href='{% url 'download' %}?target={{ movie.id }}'"> -->
                        <div class="scrubber"
                             style="background:url(http://static.fc2.com/video/img/loadingAnimation.gif);">
                            <div class="scrubbed" style="width: 0;">

                            </div>
                        </div>
                    </a>
                    <span>{{ movie.play_time }}</span>
                </div>

                <div class="movie_info">
                    <p style="font-size:12px">
                        <a href="{% url_add_query url st=1 %}" class="small_info">再生数</a>: {{ movie.playing }}<br/>
                        <a href="{% url_add_query url st=0 %}" class="small_info">お気に入り数</a>: {{ movie.fav }}

                    </p>
                    <a href="{{ movie.url }}" target="_blank"
                       title="{{ movie.title }}"><strong>{{ movie.title }}</strong></a>
                </div>
            </div>

        {% endfor %}
    </div>

    <nav style="text-align:center">
        <ul class="pagination" style="margin-bottom:5px ">
            <li>
                {% if movies.has_previous %}
                    <a href="{% url_add_query url page=1 %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for i in "xxxxx" %}
                {% if movies.number|add:forloop.counter0 < movies.paginator.num_pages %}
                    <li><a href="{% url_add_query url page=movies.number|add:forloop.counter0 %}">
                        {{ movies.number|add:forloop.counter0 }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if movies.has_next %}
                    <a href="{% url_add_query url page=movies.paginator.num_pages %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock %}

<!--<h1>Join Now</h1>-->
<!--<form method="POST" action="">-->
<!--{% csrf_token %}-->
<!--{{ form.as_p }}-->

<!--<input type="submit">-->
<!--</form>-->
